<template>
  <a-layout-footer style="text-align: center">
    Ant Design ©2022 Created by Ant UED
  </a-layout-footer>
</template>

<script>
  import { defineComponent } from 'vue';
  export default defineComponent ({
    setup() {

      return {
      }
    },
  })
</script>
