<template>
  <a-layout-header>
    <div class="logo" />
    <a-menu
      :selectedKeys="selectedKeys"
      theme="dark"
      mode="horizontal"
      :style="{ lineHeight: '64px' }"
      @click="onChangeMenu($event)"
    >
      <a-menu-item key="1">
        <router-link to="/">Home</router-link>
      </a-menu-item>
      <a-menu-item key="2">new</a-menu-item>
      <a-menu-item key="3">
        <router-link to="/login">Login</router-link>
      </a-menu-item>
    </a-menu>
  </a-layout-header>
</template>

<script>
import { defineComponent, ref } from "vue";
export default defineComponent({
  setup() {
    const selectedKeys = ref(["3"]);

    return {
      selectedKeys,
    };
  },
  methods: {
    onChangeMenu(event) {
      this.selectedKeys = [event.key];
    }
  }
});
</script>