
<template>
  <HeaderTodo />
  <router-view></router-view>
  <FooterTodo />
</template>

<script setup>
  import HeaderTodo from "./HeaderTodo.vue";
  import FooterTodo from "./FooterTodo.vue";
</script>